<footer class="footer" id="footer">
  <a class="arrow-button" href="./index.html#hero">
    <img
      class="icon-scroll-up"
      src="./assets/images/ico-arrow.svg"
      alt="subir a la cabecera"
      title="Volver arriba"
  /></a>
  <ul class="links-section">
    <li class="item-links">
      <a class="links" href="https://adalab.es/" title="Ir a Adalab"
        >Articles</a
      >
    </li>
    <li class="item-links">
      <a class="links" href="https://adalab.es/" title="Ir a Adalab">Books</a>
    </li>
    <li class="item-links">
      <a class="links" href="https://adalab.es/" title="Ir a Adalab">Events</a>
    </li>
    <li class="item-links">
      <a class="links" href="https://adalab.es/" title="Ir a Adalab">Reasons</a>
    </li>
    <li class="item-links">
      <a class="links" href="https://adalab.es/" title="Ir a Adalab">Tips</a>
    </li>
  </ul>
  <ul class="social">
    <li class="item-links">
      <a class="links" href="https://adalab.es/" title="Ir a Adalab">Twitter</a>
    </li>
    <li class="item-links">
      <a class="links" href="https://adalab.es/" title="Ir a Adalab"
        >Instagram</a
      >
    </li>
    <li class="item-links">
      <a class="links" href="https://adalab.es/" title="Ir a Adalab"
        >Mastodon.social</a
      >
    </li>
  </ul>
  <small class="copy"
    >&copy;2021 <br />
    we <span class="material-icons">&#10084;</span> components</small
  >
</footer>
