<footer class="footer">
  flecha-transicion-inicio-pag
  <ul class="links">
    <li class="item-links">Articles</li>
    <li class="item-links">Books</li>
    <li class="item-links">Events</li>
    <li class="item-links">Reasons</li>
    <li class="item-links">Tips</li>
  </ul>
  <ul class="social">
    <li class="social-links">Twitter</li>
    <li class="social-links">Instagram</li>
    <li class="social-links">Mastodon.social</li>
  </ul>
  <small class="copy"
    >&copy;2021 we <span class="material-icons">❤︎</span>
    components
    <!-- <div class="icon"><i class="fas fa-heart"></i></div> -->
  </small>
</footer>
