<hero class="hero">
  <div class="imagen-hero">foto hero</div>
  anonymous proxy In hac habitasse platea dictumst. boton1-transicion-3-reasons
</hero>
<section class="main-section">
  <h5>Insomnia Tips</h5>
  <h2 class="title-main-section">Looking Through A Window</h2>
  <p class="text-main-section">
    Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
    luctus ex diam nec lectus. Vivamus semper sodales rutrum.
  </p>
  <div class="button-go">boton_Go</div>
</section>
<section class="reasons">
  <h2 class="title-reasons">3 Reasons To Purchase</h2>
  <article class="article">
    <h3 class="title-article">Ut sed metus</h3>
    <p class="text-article">Lorem ipsum dolor sit amet, consecteur.</p>
  </article>
  <article class="article">
    <h3 class="title-article">Curabitur ac erat</h3>
    <p class="text-article">Mauris mattis urna quis lorem molestie.</p>
  </article>
  <article class="article">
    <h3 class="title-article">Morbi dictum</h3>
    <p class="text-article">Aliquam in dolor et dolor tincidunt.</p>
  </article>
  <div class="button-more">boton_more_reasons</div>
</section>
