<section class="secondary-section" id="secondary-section">
  <div class="box-title">
    <h2 class="title-reasons">3 Reasons To Purchase</h2>
  </div>
  <div class="grid">
    <div class="box-article">
      <article class="article">
        <h3 class="title-article">Ut sed metus</h3>
        <p class="text-article">Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
    </div>
    <div class="box-article">
      <article class="article">
        <h3 class="title-article">Curabitur ac erat</h3>
        <p class="text-article">Mauris mattis urna quis lorem molestie.</p>
      </article>
    </div>
    <div class="box-article">
      <article class="article">
        <h3 class="title-article">Morbi dictum</h3>
        <p class="text-article">Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>
  </div>
  <div class="button-more">
    <a
      class="button-more-reasons"
      href="https://adalab.es/"
      title="Click to more reasons"
      >More reasons</a
    >
  </div>
</section>
