<section class="secondary-section">
  <div class="box title">
    <h2 class="title-reasons">3 Reasons To Purchase</h2>
  </div>
  <div class="box article1">
    <article class="article">
      <h3 class="title-article">Ut sed metus</h3>
      <p class="text-article">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
  </div>
  <div class="box article2">
    <article class="article">
      <h3 class="title-article">Curabitur ac erat</h3>
      <p class="text-article">Mauris mattis urna quis lorem molestie.</p>
    </article>
  </div>
  <div class="box article3">
    <article class="article">
      <h3 class="title-article">Morbi dictum</h3>
      <p class="text-article">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>
  <div class="button-more">
    <button class="more-reasons">boton_more_reasons</button>
  </div>
</section>
