<section class="reasons">
  <h2 class="title-reasons">3 Reasons To Purchase</h2>
  <article class="article">
    <h3 class="title-article">Ut sed metus</h3>
    <p class="text-article">Lorem ipsum dolor sit amet, consecteur.</p>
  </article>
  <article class="article">
    <h3 class="title-article">Curabitur ac erat</h3>
    <p class="text-article">Mauris mattis urna quis lorem molestie.</p>
  </article>
  <article class="article">
    <h3 class="title-article">Morbi dictum</h3>
    <p class="text-article">Aliquam in dolor et dolor tincidunt.</p>
  </article>
  <div class="button-more">boton_more_reasons</div>
</section>
