// fonts
$font-main: "Roboto", sans-serif;
$font-highlights: "Roboto Slab", serif;

// colors
$txt-white: #fff;
$color-footer: #fff;
$color-secondary: #999;

$bg-footer: #304268;
$ice-blue: #eff9ff;
$menu: #0271bc;
$lightblue: #8ccbea;
$buttons: #f26002;
$text-main-section: #4a4a4a;
$txt-black: #000;
