.footer {
  background-color: $menu;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba($txt-black, $alpha: 0.5);
  line-height: 45px;
  transform: translate(0, -50%);
  text-align: center;
  transition: background-color 2s ease-out;

  @media all and (min-width: 768px) {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0, -50%);
  }
}
.arrow-button:hover {
  background-color: $lightblue;
}
.icon-scroll-up {
  vertical-align: middle;
}
// .wrap {
//   display: flex;
//   flex-direction: column;
//   @media all and (min-width: 768px) {
//     width: 100vw;
//     display: flex;
//     flex-direction: row;
//     padding: 45px 39px;
//     justify-content: space-between;
//   }
//   @media all and (min-width: 1200px) {
//     padding: 45px 370px;
//   }
// }
.links-section,
.social {
  margin-bottom: 45px;
}
.links-section {
  order: 2;
  @media all and (min-width: 768px) {
    order: 2;
  }
}
.social {
  @media all and (min-width: 768px) {
    order: 0;
  }
}
.item-links {
  font-size: 16px;
  font-family: $font-main;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  line-height: 30px;
}
.links {
  padding: 5px 16px;
}
.links:link,
.links:visited,
.links:active {
  text-decoration: none;
  color: $txt-black;
}
.copy {
  font-size: 14px;
  font-family: $font-main;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: $txt-black;
  margin-bottom: 45px;
  order: -1;
  @media all and (min-width: 768px) {
    text-align: left;
  }
}
.material-icons {
  font-size: 14px;
  color: $buttons;
}
.hightlight {
  color: $txt-black;
  @media all and (min-width: 768px) {
    color: $buttons;
  }
}
