.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagen-hero {
  width: 100%;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}
.title {
  width: 100%;
  height: 110px;
  padding: 0 15px;
  margin: 284px 0 15px 0;
  text-transform: uppercase;
  font-family: $font-highlights;
  font-size: 42px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: $txt-white;
  @media all and (min-width: 768px) {
    font-size: 80px;
    line-height: 106px;
    word-spacing: 100vw;
    text-shadow: 0 2px 3px 0 rgba($color: #000, $alpha: 0.2);
    margin: 384px 0 20px 0;
    padding: 0 39px;
  }
  @media all and (min-width: 1200px) {
    font-size: 100px;
    line-height: 132px;
    word-spacing: 100vw;
    text-shadow: 0 2px 5px 0 rgba($color: #000, $alpha: 0.2);
  }
}
.text-hero {
  width: 100%;
  color: $txt-white;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 15px;
  @media all and (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
    margin: 130px 0 20px 0;
    padding: 0 204px;
  }
  @media all and (min-width: 1200px) {
    margin: 160px 0 20px 0;
  }
}
.button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  position: absolute;
  vertical-align: bottom;
  left: 50%;
  bottom: 53px;
  transform: translate(-50%, 0);
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media all and (min-width: 768px) {
    bottom: 45px;
  }
  @media all and (min-width: 1200px) {
    bottom: 13px;
  }
}
.icon-scroll {
  vertical-align: middle;
}
