.main-section {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 0px 15px;
  background-color: #fff;
}
.beforeTitle {
  font-size: 14px;
  font-family: $font-main;
  font-weight: 400;
  color: $lightblue;
  line-height: 30px;
  @media all and (min-width: 768px) {
    padding: 0 39px;
  }
  @media all and (min-width: 1200px) {
    padding: 0 275px;
  }
}
.title-main-section {
  font-size: 24px;
  font-family: $font-highlights;
  font-weight: 700;
  margin-top: 0px;
  line-height: 30px;
  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 45px;
    padding: 0 39px;
    margin-bottom: 15px;
  }
  @media all and (min-width: 1200px) {
    padding: 0 275px;
  }
}
.text-main-section {
  font-size: 18px;
  font-family: $font-main;
  font-weight: 400;
  color: $text-main-section;
  margin-top: 18px;
  line-height: 30px;
  @media all and (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 39px;
    margin-bottom: 15px;
  }
  @media all and (min-width: 1200px) {
    padding: 0 275px;
  }
}
.button-go {
  width: 76px;
  height: 45px;
  font-size: 20px;
  font-family: $font-main;
  font-weight: 400;
  color: $buttons;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  border-color: $buttons;
  border-image: none;
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  margin: 30px 0 45px 0;
  line-height: 45px;
  &:hover {
    background-color: $lightblue;
    box-shadow: 0 2px 4px 0 rgba($txt-black, $alpha: 0.5);
  }
  @media all and (min-width: 768px) {
    width: 91px;
    margin-left: 39px;
  }
  @media all and (min-width: 1200px) {
    width: 160px;
    margin-left: 275px;
  }
}
