.secondary-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-color: $ice-blue;
  margin-top: 60px;
}

.title-reasons {
  font-size: 24px;
  font-family: $font-highlights;
  font-weight: 700;
  text-align: center;
  color: #000;
}
.title-article {
  font-size: 18px;
  font-family: $font-highlights;
  font-weight: 700;
  text-align: center;
  color: #000;
}
.text-article {
  font-size: 18px;
  font-family: $font-main;
  font-weight: 400;
  text-align: center;
  color: #000;
}
